{% extends 'base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}
    <!-- action: representa la url a la que nos va a re-dirigir. Tiene prioridad
    por sobre la redirección que podamos colocar en views.py -->
<body>
    
  
    
    <form  action="" method="POST">
        {% csrf_token %}
        <table class="tabletx">
            {{ miFormulario.as_table }}
        </table>
        <input class="tabletx1" type="submit" value="Enviar">

    </form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body> 
{% endblock main %}