{% extends 'base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}


<!--login-->
<body class="backgroundfechas">
    

<h1 class="text-center mt-5 mb-5">TE HAS DESLOGUEADO, HASTA LA PROXIMA!</h1>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<h3 class="text-center mt-5 mb-5">RECUERDA SEGUIRME EN MIS REDES SOCIALES PARA MANTENERNOS EN CONTACTO!</h3>






<script src="js/scripts.js"></script>

</body>

{% endblock main %}