{% extends 'index.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}



<div class="container   bg1 text-center">
    <div class="row">
        <div class="col align-self-start">
            <h1>Max Verstappen se consagró campeón de la Fórmula 1 tras la carrera sprint de Qatar</h1>
            <p>
                El piloto neerlandés de 26 años finalizó segundo en la carrera sprint y obtuvo su tricampeonato tras
                finalizar tercero este sábado en Qatar.
            </p>
            <img src="{% static 'assets/campeon.jpg' %}" alt="">
        </div>
        <div class="col align-self-center">
            <h3>Luego del GP de Qatar así quedó la tabla general de posiciones.</h3>
            <!--TABLA DE PILOTOS-->

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">N°</th>
                    <th scope="col">Piloto</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Escuderia</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Max Verstappen</td>
                    <td>400</td>
                    <td>Red Bull</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Sergio perez</td>
                    <td>223</td>
                    <td>Redl Bull</td>
                  </tr>
                  <tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Lewis Hamilton</td>
                        <td>190</td>
                        <td>Mercedez AMG</td>
                      </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td>Fernando Alonso</td>
                    <td>174</td>
                    <td>Aston Martin</td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Carlos Sainz</td>
                    <td>150</td>
                    <td>Ferrari</td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Charles Leclerc</td>
                    <td>135</td>
                    <td>Ferrari</td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>George Russell</td>
                    <td>115</td>
                    <td>Mercedes AMG</td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Lando Norris</td>
                    <td>115</td>
                    <td>McLaren</td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Oscar Piastri</td>
                    <td>57</td>
                    <td>McLaren</td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Lance Stroll </td>
                    <td>47</td>
                    <td>Aston Martin</td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Pierre Gasly</td>
                    <td>46</td>
                    <td>Apine</td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>Esteban Ocon</td>
                    <td>38</td>
                    <td>Alpine</td>
                  </tr>
                  <tr>
                    <th scope="row">13</th>
                    <td>Alexander Albon</td>
                    <td>21</td>
                    <td>Williams</td>
                  </tr>
                  <tr>
                    <th scope="row">14</th>
                    <td>Nico Hulkenberg </td>
                    <td>9</td>
                    <td>Hass</td>
                  </tr>
                  <tr>
                    <th scope="row">15</th>
                    <td>Valtteri Bottas </td>
                    <td>6</td>
                    <td>Alfa Romeo</td>
                  </tr>
                  <tr>
                    <th scope="row">16</th>
                    <td>Ghanyu Zhou</td>
                    <td>4</td>
                    <td>Alfa Romeo</td>
                  </tr>
                  <tr>
                    <th scope="row">17</th>
                    <td>Yuki Tsunoda </td>
                    <td>3</td>
                    <td>Alpha Tauri</td>
                  </tr>
                  <tr>
                    <th scope="row">18</th>
                    <td>Kevin Magnussen</td>
                    <td>3</td>
                    <td>Hass</td>
                  </tr>
                  <tr>
                    <th scope="row">19</th>
                    <td>Liam Lawson</td>
                    <td>2</td>
                    <td>Alpha Tauri</td>
                  </tr>
                  <tr>
                    <th scope="row">20</th>
                    <td>Logan Sargeant</td>
                    <td>0</td>
                    <td>Williams</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>
















{% endblock main %}