{% extends 'base.html' %}

{% load static %}

{% block title %} Inicio {% endblock title %}

{% block main %}



<h1 class="">Pilotos de Fórmula 1</h1>


<div>

<!--CARDS DE LOS PILOTOS DE F1-->
    <div class="row">
    {% for registro in registros %}

        <div class="card col-12 col-md-6 col-lg-4 image-center" style="width: 18rem;">
            <img src="{{ registro.imagen }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ registro.nombre }} - {{ registro.apellido }}</h5>
                <img src="{% static 'assets/p2.jpg'%}" alt="">
                <p class="card-text">Red Bull Racing.</p>
                <a href="#" class="btn btn-primary">Ver mas</a>
            </div>
            </div>
            {% empty %}
            <li>No se encontraron pilotos.</li>
        {% endfor %}

    </div>

</div>





{% endblock main %}