<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col bgclass" style="border:1px solid black;">
            <div class="w-100">
                <div class="d-block w-100" style="background-color:  black !important ;">
                    <img class="float-end  d-block" src="{% static 'assets/pythonfinal2222.jpg' %}" alt="">
                </div>
                <br>
            </div>
        </div>
        <div class="col bgclass2" style="border:1px solid black;">

            <!--div 2-->
            <h3>Bienvenidos a la comunidad mas grande de faniticos de la formula 1, donde podras encontrar la
                informacion de tus pilotos favoritos, comprar entradas y enterarte lo ultimo de en mundo de la
                maxima categoria del automovilismo!</h3>
        </div>
        <div class="col-xl-3 col-sm-5 asidebg asideh">
            <aside class="mt-3 d-block">
                <div>
                    <h6><u>Seguinos en nuestras redes:</u></h6>
                    <div class="text-center mt-3">
                        <a href="https://www.instagram.com/agus.brunello/" target="_blank"><img width="30"
                                src="image/icons8-instagram-48.png" alt="ig"></a>
                        <a href="https://www.youtube.com/@ESLCS" target="_blank"><img width="30"
                                src="image/icons8-youtube-48.png" alt="yt"></a>
                        <a href="https://www.twitch.tv/colooof8" target="_blank"><img width="30"
                                src="image/icons8-twitch-48.png" alt="tw"></a>
                        <a href="https://twitter.com/ESL" target="_blank"><img width="30"
                                src="image/icons8-twitter-48.png" alt="twitter"></a>
                    </div>
                </div>
                <div class="mt-3">
                    <h6><u>Jugos de la plataforma</u></h6>
                    <ul>
                        <li class="black"><img width="20" src="image/icons8-counter-strike-48.png" alt="">
                            Counter-Strike Global Offensive</li>
                        <li class="black"><img width="20" src="image/icons8-valorant-48.png" alt=""> Valorant
                        </li>
                        <li class="black"><img width="20" src="image/icons8-liga-de-leyendas-48.png" alt="">
                            League of Legends</li>
                    </ul>
                </div>

                <div class="">
                    <h6><u>Ayuda & Soporte</u></h6>
                    <ul>
                        <li><a class="black" href="contacto.html">Soporte</a></li>
                        <li><a class="black" href="contacto.html">Unirse al Staff e-Sport Latam!</a></li>
                    </ul>

                </div>
                <div class="">
                    <h6><u>Productos e-Sports Latam</u></h6>
                    <ul>
                        <li><a class="black" href="tienda.html">Venta de entradas</a></li>
                        <li><a class="black" href="tienda.html">Ropa</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>